<!doctype html>
<html lang="pt-br">
    <head>
        <% include ./partials/head %>
        <title>Pagina Principal</title>
    </head>
    <body>
        <% include ./partials/header %>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="cinza mb-5 mt-5"> Inten&ccedil;o de Cria&ccedil;&atilde;o:</h2>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card w-100">
                        <img class="card-img-top" src="img/imagem-card-1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Melhorar o Rac&iacute;cionio e Coes&atilde;o de Pensamentos</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card w-100">
                        <img class="card-img-top" src="img/imagem-card-2.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Auxiliar na Cria&ccedil;&atilde;o de Textos e Serm&otilde;es</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card w-100">
                        <img class="card-img-top" src="img/imagem-card-3.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Auxiliar na Memoriza&ccedil;&atilde;o de Argumentos e Ideias </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center my-5">
                    <h2 class="cinza">Oque S&atilde;o ideias/Pensamentos/Argumentos/ </h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"aria-controls="collapseOne1">
                                    <h5 class="mb-0 cinza">
                                        Ideias <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                <div class="card-body">
                                    Ideias s&atilde;o um conjuntos de cren&ccedil;as/opni&otilde;es sobre algum assunto, ela pode ser algo simples como um unico Pensamento
                                    ou algo robusto com v&aacute;rios pensamentos que se dividem e trazem novos horizontes a algum assunto
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne2">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne2" aria-expanded="true"aria-controls="collapseOne2">
                                    <h5 class="mb-0 cinza">
                                        Pensamentos <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseOne2" class="collapse show" role="tabpanel" aria-labelledby="headingOne2" data-parent="#accordionEx">
                                <div class="card-body ">
                                    Pensamentos s&atilde;o oque compoem uma ideia eles s&atilde;o aquilo que nos leva a reflex&atilde;o dividindo-se em v&aacute;rias
                                    e tomando rumos diferentes para depois se encontrarem em um ponto que nos faz ver que &eacute; o assunto &eacute; bem mais amplo do
                                    que imaginavamos
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne3">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne3" aria-expanded="true"aria-controls="collapseOne3">
                                    <h5 class="mb-0 cinza">
                                        Argumentos <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseOne3" class="collapse show" role="tabpanel" aria-labelledby="headingOne3" data-parent="#accordionEx">
                                <div class="card-body">
                                    Argumentos S&atilde;o um as provas de que nossos pensamentos est&atilde;o no caminho certo, eles nos provam que aquilo que acreditamos
                                    como pensamento &eacute; real 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-12 text-center">
                    <h2 class="cinza"> Como Usar :</h2>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-12 col-md-6">
                    Passo 1:
                    <p class="ml-5 mb-0">Criar uma Conta</p>
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    Passo 2:
                    <p class="ml-5 mb-0">Entrar na Sua conta e ir em "Minhas Ideias"</p>
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    Passo 3:
                    <p class="ml-5 mb-0">Clicar em Criar nova Ideia</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <p class="ml-5 pl-3 mb-0">Cada Ideia contem: <br></p>
                <ul>
                    <li>Um T&iacute;tulo</li>
                    <li>Uma Imagem</li>
                    <li>Uma Linha de Pensamento que ter&atilde;o
                        <ul>
                            <li>Um T&iacute;tulo</li>
                            <li>Um Corpo</li>
                            <li>Varios Argumentos que ter&atilde;o
                                <ul>
                                    <li>Um T&iacute;tulo</li>
                                    <li>Um Corpo</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <% include ./partials/footer %>    
    </body>
        <%include ./partials/rodape %>
</html>