/* TOPO */

/* FIM TOPO */
/* FONT */
    .f-26{
        font-size: 26px;
    }
/* FONT */
/* DIVERSOS */
    .centralizarY{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .desce-25-transform{
        position: relative;
        transform: translateY(25%);
    }
    .centralizarY-2{
        position: relative;
        top: 50%;
    }
    .centralizarX-sm{
        position: inherit;
        left: 0%;
        transform: translateX(0%);
    }
    .d-none-important{
        display:none !important;
    }
    .form-control-sm{
        border: 0.5px solid #ccc;
        font-size: inherit !important;

    }
    .vh{
        height: 100vh;
    }
    .img-lampada{
        width: 64px;
        height: 64px;
    }
/* FIM DIVERSOS */

/* TABLE */
    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        padding: 6px;
    }
    .dataTables_wrapper.container-fluid {
        padding-right: 0px;
        padding-left: 0px;    
    }
    table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
        padding-right: 0px !important;
    }
    .table td a {
        margin-right: 4px !important;
    }
    .table td a:last-child {
        margin-right: 0px !important;
    }
    .ui-sortable-custom {
        list-style: none;
        margin: 0;
    }

    .ui-sortable-custom li {
        padding: 5px;
        margin-bottom: 5px;     

    }
    .ui-sortable-custom li:hover {
        border-color: #999;
        cursor:move;
        box-shadow: 0px 0px 5px #ccc;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em;
        display: inline-block;
        width: auto;
        width: 150px!important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #333 !important;
        /* padding: 4px; */
        border: 1px solid #979797;
        background-color: white!important;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(0%, #dcdcdc))!important;
        background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 0%);
        background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 0%)!important;
        background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 0%)!important;
        background: -o-linear-gradient(top, #fff 0%, #dcdcdc 0%)!important;
        background: linear-gradient(to bottom, #fff 0%, #dcdcdc 0%)!important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: .5em!important;
        padding: 0.2em 0.5em!important;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        *cursor: hand;
        color: #333 !important;
        border: 1px solid transparent;
        border-radius: 2px;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,0)!important;
    }
    table.dataTable {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse!important;
        border-spacing: 0;
    }
    .table-bordered td, .table-bordered th {
        border: 2px solid #dee2e6;
    }
    [name="myTable_length"]{
        border: 1px solid #aaa;
        border-radius: 5px;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em;
        display: inline-block;
        width: auto;
        border: 1px solid #aaa;
        border-radius: 5px;
        width: 150px!important;
    }
    table.dataTable.no-footer {
        border-bottom: inherit !important;
    }
    .img-table{
        height: 48px;
    }
    .img-table-menor{
        height: 36px;
    }
    .contagem:hover > .revelar{
        display: block;
        animation:descer 2s;
        -webkit-animation:descer 0.5s;
    }
    .imagem-cancel{
        width: 20px;
        height: 20px;
    }
    .revelar{
        display: none;
    }
    .margin-bottom-definida{
        margin-bottom: 25px;
    }
    .mx-definido{
        margin-right:25px;
        margin-left: 25px;
    }
    .linha-bottom{
        height: 25px;
        width: 2px;
        margin-top: -25px;
        position: relative;
        left: 50%;
        background:#292929;
    }
    .linha-right{
        height: 2px;
        width: 25px;
        margin-left: -25px;
        position: relative;
        transform: translateY(1000%);
        background:#292929;
    }
    .linha-left{
        height: 2px;
        float: right;
        width: 25px;
        position: relative;
        transform: translateY(1000%);
        margin-right: -25px;
        background:#292929;
    }
    @keyframes descer{
        from{
            opacity: 0;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
        }
        to{
            opacity: 1;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            -ms-transform: translateY(0%);
            -o-transform: translateY(0%);
}
    }
/* TABLE */
.overflow-visible{
    overflow-x: visible;
}
.img-view{
    height: 260px;
    width: 100%;
    object-fit: cover;
}
/* COR */
    .cinza{
        color: rgb(78, 78, 78);
        word-break: break-all;
    }
    .cinza-claro{
        color: #aaa;
    }
   
/* FIM COR */

/* Button */
    .btn-voltar{
        border-radius: 0px!important;
        background-color: rgb(0, 162, 255);
        border: 1px solid rgb(124, 123, 123);
        color: rgb(255, 255, 255);
        transition: 0.5s;
    }
    .btn-voltar:hover{
        border-radius: 0px!important;
        transition: 0.5s;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(124, 123, 123);
        color: rgb(0, 162, 255);
    }
    .more-small{
        font-size:10px;
    }
/* button */

/* borda */
.borda-ideia{
    border: solid 1px #979797;
    width: 100px;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* borda */

/* BACKGROUND */
    .bg-cinza{
        background-color: rgb(78, 78, 78);
    }
/* FIM BACKGROUND */
@media (max-width: 575.98px) {
    .centralizarX-sm{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}